{{ define "main" }}
<script src="https://cdn.tailwindcss.com"></script>
<main>
    <div class="bg-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="grid items-center gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
            <!--I put my video here - ref below code-->
            <svg width="1230px" height="400px" class="drop-shadow-3xl">
                <rect width="1230px" height="400px" fill="black"></rect>
            </svg>
                <!--text-->
                <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
                    <h1 class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
                        {{ .Site.Title }}
                    </h1>
                    <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
                        {{ .Site.Params.Moto }}
                    </h2>
                    <p class="max-w-xl mx-auto mb-6 font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                        {{ .Site.Params.Description}}
                    </p>
                </div> <!--image-->
                <!--<div class="col-span-6">
                    {{ $hero := resources.GetMatch "images/pages/tailbliss-rocket-indigo.png" }}

                    {{ $thumb := ($hero.Fill "400x400 webp q90") }}
                    {{ $large := ($hero.Fill "576x576 webp q90") }}

                    <img srcset="
                        {{- with $thumb.RelPermalink -}}{{.}} 400w{{- end -}}
                        {{- with $large.RelPermalink -}}, {{.}} 576w{{- end -}}" src="{{ $hero.RelPermalink }}" width="100%" height="" alt="TailBliss Hero" class="w-full max-w-xl mx-auto rounded-lg" />
                </div>-->
            </div>
        </div>
    </div>

    <!-- More main page content here-->

    <!-- Our mission section -->
    <div class="relative my-4">
        <div class="lg:mx-auto lg:max-w-7xl lg:items-start lg:px-8">
            <!--<div class="relative sm:py-8 lg:py-0">
                <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                    <div class="absolute inset-y-0 w-full bg-gray-50 dark:bg-gray-900/10 right-1/2 rounded-r-3xl lg:right-72"></div>
                    <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60" fill="currentcolor"></rect>
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)"></rect>
                    </svg>
                </div>
                <div class="relative w-full h-auto px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:px-0 lg:py-20">
                    <div class="overflow-hidden shadow-xl rounded-2xl">
                        {{ $p1image := resources.Get .Site.Params.P1.Image }}
                        {{ with $p1image }}
                        {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
                        <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="w-full h-auto" alt="P1" loading="lazy" />
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>-->
            <!--
            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
                <div class="md:pt-12 sm:pt-6 lg:pt-15">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                        {{ .Site.Params.P1.Heading }}
                    </h2>
                    // Text beside "My projects" 
                    <div class="mt-6 text-gray-900 dark:text-white">
                        <div class="mt-6 space-y-6 text
                        -gray-900 dark:text-white">
                            {{ range .Site.Params.P1.Content }}
                            <p class="text-lg text-gray-900 dark:text-white">
                                {{ .text }}
                            </p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>-->
            <!--Tutorial UI + Triangle-->
            <div id="container-for-ui-mousemovement">
                <div class="flex absolute w-[400px] h-[300px] pointer-events-none z-0
                top-12 left-12
                sm:top-20 sm:left-20
                md:top-24 md:left-24
                lg:top-32 lg:left-32">
                    <svg width="400px" height="300px" class="drop-shadow-3xl z-0 absolute"><rect width="400px" height="300px" fill="#F4F4F9"></rect></svg>
                    <div class="relative flex flex-col w-full h-full">
                            <p class="font-semibold text-4xl pl-[6%]">How to navigate the website:</p>
                            <div class="flex gap-8 pt-6 items-center justify-center">
                                <div class="justify-items-center">
                                    <img src="/Mouse/LeftClickMouse.gif" class="w-[65px] h-[100px]"> <!--dimensions divided by 6 from original size (w:390, h:600)-->
                                    <p class="text-center font-semibold text-2xl pt-2">To Select</p>
                                </div>
                                <div class="justify-items-center">
                                    <img src="/Mouse/MouseDrag.gif" class="w-[200px] h-[100px]"> <!--dimensions divided by 6 from original size (w:1200, h:600)-->
                                    <p class="text-center font-semibold text-2xl pt-2">To Move the Triangle</p>
                                </div>
                            </div>
                            <p class="font-semibold text-lg italic pt-2 pl-[6%]">Try clicking any of the sides!</p>
                    </div>
                </div>
                <canvas id="tri" class="mx-auto block relative z-10" width="1260" height="870"></canvas>
            </div>
            <!--About Me UI-->
            <div id="container-for-ui-aboutme" class="absolute w-[225px] h-[335px] pointer-events-none z-0 invisible duration-700 justify-items-center text-right absolute select-none
                    top-12 right-12
                    sm:top-20 sm:right-20
                    md:top-24 md:right-24
                    lg:top-32 lg:right-32">
                    <svg width="225px" height="335px" class="drop-shadow-3xl z-0 absolute"><rect width="225px" height="335px" fill="#F4F4F9"></rect></svg>
                    <div class="relative flex flex-col w-full h-full justify-center items-center">
                        <p class="font-semibold text-4xl">Hi! I'm Tam!</p>
                        <div class="flex justify-end pt-2">
                            <div class="justify-items-center">
                                <img src="/images/tam_photo.png" class="mask-radial-at-center w-[180px] h-[18-0px] shadow-xl" style="border-radius: 25px"> <!--dimensions divided by 6 from original size (w:1200, h:600)-->
                                <div class="text-center font-semibold text-lg italic pt-4 text-balance">
                                    <p>Blah blah blah...</p>
                                    <p>some info about me...</p>
                                    <p>blah blah blah</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- Blog section -->
    <div class="relative px-1 pt-8 pb-4 bg-transparent lg:px-8 lg:pt-12 lg:mb-4 md:mt-12">
        <!--Title-->
        <div class="mb-[150px]">
            <svg width="650px" height="80px" class="ml-[-32px]" >
                <rect width="650px" height="80px" fill="black"></rect>
                <text class="font-semibold text-4xl" x="325" y="51" fill="white">Mini Resume</text>
            </svg>
        </div>
        <!--Resume Sections-->
        <div class="flex justify-center items-center gap-[250px]">
            <div id="left" class="transform -rotate-[32deg] space-y-6">
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="font-semibold text-3xl" x="225" y="43" fill="white">Art/Environment Des</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="120" y="43" fill="white"><tspan class="italic text-base">(Photoshop, Substance Painter)</tspan> Abobe Suite</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="475" y="43" fill="white">Blender</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="520" y="43" fill="white">Maya</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="500" y="43" fill="white">Unity</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="390" y="43" fill="white">Unreal Engine</text>
                </svg>
            </div>
            <div id="right" class="transform rotate-[32deg] space-y-6">
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="font-semibold text-3xl" x="30" y="43" fill="white">Game Dev/Des</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="30" y="43" fill="white">Unity</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="30" y="43" fill="white">C#</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="30" y="43" fill="white">Unreal Engine</text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="30" y="43" fill="white">Javascript <tspan class="italic text-base">(somewhat)</tspan></text>
                </svg>
                <svg width="600px" height="65px">
                    <rect width="600px" height="65px" fill="black"></rect>
                    <text class="text-2xl" x="30" y="43" fill="white">Github</text>
                </svg>
            </div>
        </div>
    </div>
    
    {{ if not .Site.Params.Disable_stay_uptodate}}
    <div class="relative pb-16 mt-6">
        <div class="max-w-md mx-auto px-7 sm:max-w-3xl lg:max-w-7xl">
            <div class="relative px-6 py-10 overflow-hidden shadow-xl bg-primary-500 rounded-2xl sm:px-12 sm:py-20">
                <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
                    <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" loading="lazy">
                        <path class="text-primary-600 text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" />
                        <path class="text-primary-600 text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" />
                    </svg>
                </div>
                <div class="relative">
                    <div class="sm:text-center">
                        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
                            {{ .Site.Params.P5.Heading }}
                        </h2>
                        {{ range .Site.Params.P5.Content }}
                        <p class="max-w-2xl mx-auto mt-6 text-lg text-primary-100">
                            {{ .text }}
                        </p>
                        {{ end }}
                    </div>
                    <form action="{{ .Site.Params.P5.Action }}" class="mt-12 sm:mx-auto sm:flex sm:max-w-lg">
                        <div class="flex-1 min-w-0">
                            <label for="cta-email" class="sr-only">{{ .Site.Params.P5.Label }}</label>
                            <input id="cta-email" type="email" class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500" placeholder="{{ .Site.Params.P5.Placeholder }}">
                        </div>
                        <div class="mt-4 sm:mt-0 sm:ml-3">
                            <button type="submit" class="block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10">
                                {{ .Site.Params.P5.Button }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
    {{ end }}
</main>

<script type="importmap">
{
  "imports": {
    "three": "https://cdn.jsdelivr.net/npm/three@0.179.1/build/three.module.js",
    "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/"
  }
}
</script>

<script type="module">
//Importing
import * as THREE from 'three';
import {OrbitControls} from 'three/addons/controls/OrbitControls.js';
import {OBJLoader} from 'three/addons/loaders/OBJLoader.js';
import {MTLLoader} from 'three/addons/loaders/MTLLoader.js';

//Create a scene
const scene = new THREE.Scene();
//scene.background = new THREE.Color();
scene.background = null; //makes it so there is no background, resulting in the 3.js default black screen

// [ { distance, point, face, faceIndex, object }, ... ] 

//Get canvas element FIRST
const canvas = document.getElementById('tri');
//Get About Me UI
const aboutme = document.getElementById("container-for-ui-aboutme");

//Define camera placement
const fov = 30;
const aspect = 1.5; //the canvas default
const near = 0.1;
const far = 100;
const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
//camera.position.z = 20;
//camera.position.set(20, 10, 15);

//Orbit controls (spin around object)
const controls = new OrbitControls(camera, canvas);
controls.target.set(0, 5, 0);
controls.enableZoom = false;
controls.enablePan = false;
controls.addEventListener('start', function(){   //for removing image
    aboutme.classList.replace("visible", "invisible");
})
controls.update();

//Create lighting
//Defining (for both lights)
const color = 0xFFFFFF;
const intensity = 5;
//Ambient
const light = new THREE.AmbientLight(color, intensity);
//Adding to scene
scene.add(light/*, light2, light2.target*/);

//Create a Renderer
const renderer = new THREE.WebGLRenderer({canvas: canvas, alpha: true}); //alpha overwrite's 3.js fallback baclground (above code) to the transparent background
//renderer.setSize(window.innerWidth, window.innerHeight); //uses the website's window size
renderer.setSize(canvas.clientWidth, canvas.clientHeight); //uses my defined canvas size

//Animation Loop (needed for orbit)
function animate() {
    requestAnimationFrame(animate);
    controls.update();
    renderer.render(scene, camera);
}

//Triangle 3D Mesh
//Importing Texture
const mtlLoader = new MTLLoader();
const objLoader = new OBJLoader();
mtlLoader.load('/3DObjects/NavTri.mtl', (mtl) => {
    mtl.preload();
    objLoader.setMaterials(mtl);
    //Importing Mesh
    objLoader.load('/3DObjects/NavTri.obj', (root) => {
        //Center the mesh
        const box = new THREE.Box3().setFromObject(root);
        const center = box.getCenter(new THREE.Vector3());
        const size = box.getSize(new THREE.Vector3());

        root.position.sub(center);
        scene.add(root);

        //Position camera based on object size
        const maxDimension = Math.max(size.x, size.y, size.z);
        const distance = maxDimension * 2; //2x the object's size

        camera.position.set(0, distance * 1, distance);
        controls.target.set(0, 0, 0);
        controls.update();

        //Update controls target to the object center
        controls.target.copy(root.position);
        controls.update();
        
        // Render the scene once after the object is loaded and centered
        //renderer.render(scene, camera);
        animate();
    });
});

//Creating Raycaster
const raycaster = new THREE.Raycaster();
canvas.addEventListener('dblclick', dblclick);

//Clicking on Face event
function dblclick (event) {
    //Get canvas bounding rectangle
    const rect = canvas.getBoundingClientRect();

    //Calculate pointer position
    const coords = new THREE.Vector2(
        ((event.clientX - rect.left) / rect.width) * 2 - 1,
        -(((event.clientY - rect.top) / rect.height) * 2 - 1),
    ); 
    /*
        const coords = new THREE.Vector2(
        (event.clientX / renderer.domElement.clientWidth) * 2 - 1,
        -((event.clientY / renderer.domElement.clientHeight) * 2 - 1),
    ); 
    */
    
    //Return
    raycaster.setFromCamera(coords, camera);
    
    //Calculate objects intersecting the picking ray
    const intersections = raycaster.intersectObjects(scene.children, true);
    if (intersections.length > 0) {
        //console.log('Intesection detected! FaceIndex:', intersections[0].faceIndex);
        //Accessing the faceIndex values
        const faceIndexValue = intersections[0].faceIndex;
        //Main: Redirection
        //For "My Games" face
        const baseURL = "{{ .Site.BaseURL }}";
        if (faceIndexValue == 253) {
            window.location.href = baseURL + "/myGames/";
        }
        //For "3D Art" face 
        if (faceIndexValue == 235) {
            window.location.href = baseURL + "/3DArt/";
        }
        //For "2D Art" face 
        if (faceIndexValue == 222) {
            window.location.href = baseURL + "/2DArt/";
        }
        //For "Who am I?" face 
        //Future note: make it so that a UI pops up to display who I am
        if (faceIndexValue == 266) {
            aboutme.classList.replace("invisible", "visible");
        }
    }
}
</script>
{{ end }}